.board {
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.board .content-game {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.board .content-game .icon-board-refresh {
    margin-bottom: 1rem;
    color: #80e27d;
    cursor: pointer;
}

.board .content-game .icon-board-refresh:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1em rgba(64, 206, 139, 0.247));
}

.board .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.board .turn {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.board .turn .square {
    font-size: 30px;
    border: 1px solid transparent;
    padding: 10px 35px;
    border-radius: 8px;
    user-select: none;
    background-color: rgba(236, 237, 240, 0.034);
    backdrop-filter: blur(14px);
    box-shadow: none;
    cursor: auto;
}

.board .winner {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.562);
    backdrop-filter: blur(14px);
    transition: .4s ease all;
}

.board .winner .content-winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: var(--bg-color-dark);
    border-radius: 15px;
    width: 420px;
    padding: 4rem;
    border: 1px solid #717f8a;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board .winner h1 {
    font-size: 30px;
}

.board .winner .square {
    font-size: 30px;
    cursor: auto;
}

.board .winner footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.board .winner footer .newGame {
    font-size: 16px;
    cursor: auto;
    background-color: rgb(253 224 71 / 1);
    border: 1px solid #717f8a;
    color: #234047;
    font-weight: 600;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
}

.board .winner footer .newGame:hover {
    background-color: rgb(253 224 71 / 1);
    filter: drop-shadow(0 0 1em rgba(253, 223, 71, 0.247));
    border: 1px solid #e4e7e9;
    color: #162529;
}

.board .winner footer .viewGame {
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    text-underline-offset: 3px;
    cursor: pointer;
    color: #fff;
}